    PUSHI 0         // aloca espaço para variável 'n'
    PUSHI 0         // aloca espaço para variável 'i'
    PUSHI 0         // aloca espaço para variável 'fat'
START
    PUSHS "Introduza um número inteiro positivo:"
    WRITES
    WRITELN
    READ
    ATOI
    STOREG 0        // guarda em 'n'
    PUSHI 1
    STOREG 2        // guarda valor em 'fat'
    PUSHI 1
    STOREG 1        // ciclo FOR: inicializa 'i'
    JUMP FORTEST2
// corpo do ciclo for
FORBODY1:
    PUSHG 2         // carrega valor da variável global 'fat' (tipo integer)
    PUSHG 1         // carrega valor da variável global 'i' (tipo integer)
    MUL
    STOREG 2        // guarda valor em 'fat'
    PUSHG 1
    PUSHI 1
    ADD
    STOREG 1        // atualiza 'i'
// teste do ciclo for
FORTEST2:
    PUSHG 1
    PUSHG 0         // carrega valor da variável global 'n' (tipo integer)
    INFEQ
    JZ FOREND3
    JUMP FORBODY1
// fim do ciclo for
FOREND3:
    PUSHS "Fatorial de "
    WRITES
    PUSHG 0         // carrega valor da variável global 'n' (tipo integer)
    WRITEI
    PUSHS ": "
    WRITES
    PUSHG 2         // carrega valor da variável global 'fat' (tipo integer)
    WRITEI
    WRITELN
STOP
